{% extends 'users\forgot_password.html' %}
{% load crispy_forms_tags %}


                    {% block reset %}
                    <form method="post">
                        {% csrf_token %}
        
                        <fieldset class="form-outline mb-4">
                            {{ form|crispy }}
                        </fieldset>
         
                          <div class="d-flex justify-content-center">
                            <button
                              class="btn btn-success btn-block btn-lg cus-bg-letter text-secondary" type="submit"> RESET PASSWORD </button>
                          </div>
                      </form>
                    {% endblock reset %}